body {
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    /* background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; */
}
/* wrapper */
.wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 150px;
}
.main {
    width: 100%;
    text-align: center;
}
.main img {
    width: 200px;
    height: 200px;
    border: 50px solid #444;
    border-radius: 50%;
}
.main div {
    height: 50px;
    margin-top: 50px;
    font-size: 30px;
}

@keyframes move {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* tool */
.tool {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.tool i {
    color: #fff;
    font-size: 30px;
}
.tool > div {
    top: 50%;
    margin-top: -15px;
}
.previous {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 30px;
}
.previous,
.btn,
.next,
.radio-box,
.volume,
.box {
    cursor: pointer;
}
.btn {
    position: absolute;
    left: 70px;
    width: 30px;
    height: 30px;
}
.next {
    position: absolute;
    left: 110px;
    width: 30px;
    height: 30px;
}
.volume {
    position: absolute;
    right: 130px;
    width: 30px;
    height: 30px;
}

.progress {
    position: absolute;
    left: 150px;
    width: 400px;
    height: 30px;
}
.current-time, .all-time {
    width: 80px;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-weight: 200;
}
.current-time {
    float: left;
}
.all-time {
    float: right;
}

/* 播放进度条 */
.pro-box {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    width: 240px;
    height: 2px;
}
.pro-bg { 
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
}
.pro-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 2px;
    background: #fff;
}
.radio-box {
    position: absolute;
    top: -9px;
    right: -6px;
    width: 20px;
    height: 20px;
}
.radio {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;   
}

/* 音量条 */
.vo-box {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 30px;
}
.vo-bg {
    position: absolute;
    top: 14px;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
}
.vo-active {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #fff;
}
.box {
    position: absolute;
    top: -9px;
    right: -6px;
    width: 20px;
    height: 20px;
}
.vo-radio {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;   
}
/* 音量大小 */
.vo-num {
    display: none;
    position: absolute;
    top: -5px;
    left: 30px;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}
