body, ul, li , a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a, p {
    color: #fff;
}

.gn-golbalnav {
    min-width: 400px;
    height: 44px;
    background: rgba(0,0,0,0.8);
}
.gn-content {
    max-width: 980px;
    margin: 0 auto;
}

.gn-list, .gn-header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}
.gn-list li, .gn-header li {
    height: 44px;
}
.gn-list li a, .gn-header li a {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    font-weight: 200;
}
.gn-logo a {
    width: 40px;
    background: url(../logo.png) no-repeat;   
    background-position: center;
    background-size: 30px;
}
.gn-header .iconfont {
    font-size: 30px;
}
.gn-list.gn-list-active {
    display: flex;
}
.gn-header {
    display: none;
}
@media only screen and (max-width: 600px) {
    .gn-list{        
        position: absolute;
        top: 44px;
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;
        background: #222;
    }
    .gn-list .gn-logo {
        display: none;
    }
    .gn-list li {
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid #555;
    }
    .gn-list li:first-child {
        border-top: none;
    }
    .gn-header {
        display: flex;
    }
}

/* main */
.main {
    min-width: 200px;   
    padding: 100px;
    background: #222;
}
.main::before, .main::after {
    content: "";
    display: table;
}
.main::after {
    clear: both;
}
.main p {
    display: inline-block;
    box-sizing: border-box;   
    width: 40%;  
    padding-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #888;
    font-size: 20px;
}
.main p:nth-child(2n+1) {
    float: left;
}
.main p:nth-child(2n) {
    float: right;
}
@media screen and (min-width: 1000px) {
    .main p {
        height: 350px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
    .main p {
        height: 450px;
    }
}
@media only screen and (max-width: 767px) {
    .main p {
        width: 100%;
        font-size: 14px;
    }
}